body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.hero {
    background: url('assets/images/DSC_0504.JPG') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

section {
    padding: 3rem 0;
}

.section-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form input, .contact-form textarea {
    margin-bottom: 1rem;
}

.btn-modal {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.875rem;
    }

    .section-title {
        font-size: 1.25rem;
    }
}